{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>My DNHS class links</strong></h1>
        <div class="row">
                    <h5 class="text-white"><strong>APCSP</strong></h5>
                    <p class="card-text">
                        <ol>
                        <a href="https://poway.instructure.com/courses/127268" class="btn btn-primary">Canvas Home Page</a>
                        <h5 class="card-title"><strong></strong></h5>
                        <a href="https://nighthawkcoders.github.io/APCSP/" class="btn btn-primary">Nighthawkcoders Home</a>
                        <h5 class="card-title"><strong></strong></h5>
                        <a href="https://aaron-rub.github.io/FP/" class="btn btn-primary">Personal Fastpages</a>
                        <h5 class="card-title"><strong></strong></h5>
                        <a href="https://github.com/aaron-rub" class="btn btn-primary">Github repositories</a>
                        <h5 class="card-title"><strong></strong></h5>
                        <a href="https://github.com/users/aaron-rub/projects/1" class="btn btn-primary">Scrum board</a>
                        </ol>
                    </p>
                    <h5 class="text-white"><strong>AP World</strong></h5>
                    <p class="card-text">
                        <ol>
                            <a href="https://poway.instructure.com/courses/126271" class="btn btn-primary">Canvas Home Page</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://poway.instructure.com/courses/126271/pages/ap-world-trimester-1-2022-2023" class="btn btn-primary">Weekly Schedule</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://docs.google.com/document/d/13m_pWSXJnP7raGlxrgSHKv8J53lsLBUzLXvLcoLt0W4/edit" class="btn btn-primary">Homework Schedule</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://poway.instructure.com/courses/126271/pages/online-textbook" class="btn btn-primary">Online Textbook</a>
                           
                    
                        </ol>
                    </p>
                    <h5 class="text-white"><strong>Math</strong></h5>
                    <p class="card-text">
                        <ol>
                            <a href="https://poway.instructure.com/courses/131978" class="btn btn-primary">Math Home Page</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://sso.cpm.org/?redirect_uri=https%3A%2F%2Febooks.cpm.org%2Fssologin.php" class="btn btn-primary">Integrated 2 E-book</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://docs.google.com/document/d/1U81dlAg-1FwNOw38xfoNv5YPO_lm900_mgZ3W82nihk/edit" class="btn btn-primary">Class calender</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://pdfs.cpm.org/CoreConnections/CPMSelectedAnswers/int2/INT2_Selected%20Answers.pdf" class="btn btn-primary">Homework Solutions</a>
                            
                        </ol>
                    </p>
                    <h5 class="text-white"><strong>Spanish</strong></h5>
                    <p class="card-text">
                        <ol>
                            <a href="https://poway.instructure.com/courses/126833" class="btn btn-primary">Canvas Home Page</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://poway.instructure.com/courses/126833" class="btn btn-primary">Weekly Schedule</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://poway.instructure.com/courses/126833/assignments" class="btn btn-primary">Assignments</a>
                            <h5 class="card-title"><strong></strong></h5>
                            <a href="https://poway.instructure.com/courses/126833/discussion_topics" class="btn btn-primary">Discussions</a>
                        </ol>
                    </p>


{% endblock %}